*{
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}
main{
    height: 100vh;
    background-image: url("./assets/pexels-jeshoots-238118.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
main h1{
    font-family: "Source Code Pro", monospace;
    font-size: 4rem;
}
main h2{
    font-family: "Roboto Mono", monospace;
    font-size: 2.5rem;
}
main h3{
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}
.main-text{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dp{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    object-position: center;
}
.description{
    height: 100vh;
}
.skills{
    height: 100vh;
    background-color: rgba(245, 245, 220, 0.4);
}
.container{
    height: 100%;
}
.cardss{
    display: flex;
    align-items: center;
    gap: 4rem;
}
.cardss img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    opacity: 70%;
}
.cardss h3{
    font-size: 1.5rem;
}
.card2{
    flex-direction: row-reverse;
}
.cards-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@media (max-width:1000px ) {
    main h1{
        font-size: 3.5rem;
    }
    main h2{
        font-size: 2.0rem;
    }
    main h3{
        font-size: 1rem;
    }
    main{
        background-size: cover;
        height: 70vh;
    }
    .main-text{
        width: 70%;
    }
}
@media (max-width:700px ) {
    main h1{
        font-size: 3.0rem;
    }
    main h2{
        font-size: 1.5rem;
    }
    main h3{
        font-size: 0.75rem;
    }
    main{
        height: 50vh;
    }
}
@media (max-width:600px ) {
    main h1{
        font-size: 2.5rem;
    }
    main h2{
        font-size: 1.5rem;
    }
    main h3{
        font-size: 0.75rem;
    }
    main{
        height: 50vh;
    }
}
@media (max-width:500px ) {
    main h1{
        font-size: 2rem;
    }
    main h2{
        font-size: 1rem;
    }
    main h3{
        font-size: 0.5rem;
    }
    main{
        height: 35vh;
    }
}